* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  color: var(--gray-500);
  background-color: var(--black-800);
}

:root {
  --green: #1B873F;
  --pink: #FF008E;
  --gradient: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);;
  --orange: #FF7A29;
  --yellow: #FFCD1E;
  --white: #FFFFFF;

  --black-900: #09090A;
  --black-800: #121214;
  --black-700: #202024;
  --black-600: #29292E

  --gray-700: #8D8D99;
  --gray-600: #C4C4CC;
  --gray-500: #E1E1E6;
}
