### To use these configurations, you need to create file .env with the same ###
### configuration parameters, or configure a new server with new parameters. ###

## API Configurations ##
API_REST_PORT=3000

## DB Configurations ##
DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=public"

## JWT Configurations ##
 # Key used for authenticate JWT from client.
JWT_SECRET='my_secret'

## Github configurations ##
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
