#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
    box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
    color: var(--white-full);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.1rem 'Poppins', sans-serif;
      line-height: 3rem;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
    }
  }

  main {
    flex: 8;

    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
      color: var(--white-full);
    }

    form {
      input {
        height: 3rem;
        border-radius: 0.8rem;
        padding: 0 1.3rem;
        // border: 1px solid var(--gray-500);
        border: none;
        background: rgba(255, 255, 255, 0.03);
        color: #FFF;
      }

      button {
        margin-top: 1.3rem;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: var(--gray-800);
      margin-top: 16px;

      a {
        color: var(--pink-500);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #EA4335;
    color: var(--white-full);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: var(--white-full);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--white-full);
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--white-full);
      margin-left: 16px;
    }
  }
}
